body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-family: 'Inter', sans-serif;
font-size: 24px;
weight:700;
font-style: bold;
}

.box {
display:flex;
flex-direction: column;
align-items: center;
justify-content: start;
border: 1px solid black;
width:500px;
height: 688px;
  }
.company {
  border-radius: 8px;
  background-color: #F69F1D;
  padding:14px 24px 14px 24px;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 24px;
  weight:700;
  font-style: bold;
  font-family: 'Inter', sans-serif;




}
form {
display: flex;
flex-direction: column;
align-items: center;
gap:8px;
height:50%;
width:80%;


}
input{
border: 1px solid #E0E0E0;
border-radius: 8px;
padding:12px 16px 12px 16px;
font-weight: 700;
width:263px;
height:36px;
margin-top: 8px;
margin-bottom: 8px;
font-style:bold;
font-size:24px;
}
input::placeholder {
font-weight: 700;
font-style:bold;
font-size:24px;
}


.validationBtn {
color: white;
background-color: #207FEE;
padding: 14px 24px 14px 24px;
border-radius: 8px;
weight: 700;
margin-top: 50px;
font-size: 24px;
weight:700;
font-style: bold;
font-family: 'Inter', sans-serif;


}





