<!DOCTYPE html>
<html lang="FR" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Connexion</title>
    <link rel="stylesheet" th:href="@{/login.css}">
    <link rel="stylesheet" th:href="@{/messages.css}">
</head>
<body>
<div class="box">
    <div>
        <button class="company">Pay My Buddy</button>
    </div>

    <form method="post" th:action="@{/login}">

        <label>
            <input name="email" placeholder="Email" type="text">
        </label>

        <label>
            <input name="password" placeholder="Mot de passe" type="password">

        </label>
        <div th:replace="~{messages :: messages}"></div>
        <button class="validationBtn" type="submit">Se connecter</button>

    </form>


</div>


</body>
</html>