<!DOCTYPE html>
<html lang="FR" xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Inscription</title>
    <link rel="stylesheet" th:href="@{/login.css}">
    <link rel="stylesheet" th:href="@{/messages.css}">
</head>
<body>
<div class="box">
    <div>
        <button class="company">Pay My Buddy</button>
    </div>

    <form method="post" th:action="@{/register}" th:object="${registerDTO}">


        <label>
            <input placeholder="Username" required th:field="*{username}" type="text">
        </label>


        <label>
            <input placeholder="Mail" required th:field="*{email}" type="email">
        </label>


        <label>
            <input placeholder="Mot de passe" required th:field="*{password}" type="password">
        </label>


        <div th:replace="~{messages :: messages}"></div>
        <button class="validationBtn" type="submit">S'inscrire</button>


    </form>
</div>


</body>
</html>